---
import { getProdsLib } from '@services/products';
import Layout from '../../../layouts/Layout.astro';
import SearchProducts from '@components/Search/SearchProducts.jsx';
import AsideCategories from '@components/AsideCategories/AsideCategories.astro';
import ProductCard from '@components/ProductCard/ProductCard.astro';
import Pagination from '@components/Pagination/Pagination.astro';
import type { Product } from '../../../types/types';

export async function getStaticPaths({ paginate }) {
  const prods: Product[] = await getProdsLib();
  const products = prods.filter((prod) => prod.status === 'active');

  let cats: string[] = products.map((product) => product.categoryWeb);
  cats = cats.filter((item, index) => cats.indexOf(item) === index);
  cats = cats.sort();

  return cats.flatMap((categoryWeb) => {
    const filteredProducts = products.filter(
      (product) => product.categoryWeb === categoryWeb
    );
    return paginate(filteredProducts, {
      params: { categoryWeb },
      pageSize: 15,
      props: { cats, products },
    });
  });
}
const { page, cats, products } = Astro.props;
---

<Layout title="Librería Alfa">
  <section class="flex bg-slate-50">
    <!-- max-h-screen overflow-y-scroll -->
    <AsideCategories cats={cats} />
    <main class="h-fit w-full">
      <div class="px-4 lg:px-16 mt-10 w-full mx-auto">
        <SearchProducts
          products={products}
          client:load
        />

        <div
          id="lista"
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-10"
        >
          {page.data.map((prod) => <ProductCard prod={prod} />)}
        </div>

        {
          page.total > page.size ? (
            <div
              id="pagination"
              class="py-20"
            >
              <Pagination
                length={page.lastPage}
                firstPage="1"
                lastPage={page.lastPage}
                currentPage={page.currentPage}
                path={`/libreria-alfa${page.url.current}`}
                prev={`/libreria-alfa${page.url.prev}`}
                next={`/libreria-alfa${page.url.next}`}
              />
            </div>
          ) : null
        }
      </div>
    </main>
  </section>
</Layout>

<script>
  const $lista = document.getElementById('lista');
  const $pagination = document.getElementById('pagination');

  document.addEventListener('show-result-search', (event) => {
    const customEvent = event as CustomEvent;
    if (customEvent.detail === true) {
      $lista.classList.add('hidden');
      if ($pagination) $pagination.classList.add('hidden');
    } else {
      $lista.classList.remove('hidden');
      if ($pagination) $pagination.classList.remove('hidden');
    }
  });
</script>
