---
import { Icon } from 'astro-icon';
const { length, firstPage, lastPage, currentPage, path, prev, next } =
  Astro.props;

const url = path.substring(0, path.lastIndexOf('/'));
const first = path.substring(0, path.lastIndexOf('/')) + '/1';
const last = path.substring(0, path.lastIndexOf('/')) + `/${lastPage}`;
---

<div class="flex w-full gap-4 justify-center">
  <a
    class={`p-2 text-slate-950 rounded ${
      currentPage === parseInt(firstPage)
        ? 'bg-slate-200 pointer-events-none cursor-default'
        : 'bg-primary'
    }`}
    href={first}
    ><Icon
      name="mdi:page-first"
      class="w-5 h-5"
    /></a
  >
  <a
    class={`border p-2 text-slate-950 rounded ${
      currentPage === parseInt(firstPage)
        ? 'bg-slate-200 pointer-events-none cursor-default'
        : 'bg-primary'
    }`}
    href={prev}
  >
    <Icon
      name="mdi:chevron-left"
      class="w-5 h-5"
    /></a
  >

  <div class="text-slate-800 py-2">
    <span>{currentPage} de {lastPage}</span>
  </div>
  <a
    class={`border p-2 text-slate-950 rounded ${
      currentPage === parseInt(lastPage)
        ? 'bg-slate-200 pointer-events-none cursor-default'
        : 'bg-primary'
    }`}
    href={next}
  >
    <Icon
      name="mdi:chevron-right"
      class="w-5 h-5"
    />
  </a>
  <a
    class={`border p-2 text-slate-950 rounded ${
      currentPage === parseInt(lastPage)
        ? 'bg-slate-200 pointer-events-none cursor-default'
        : 'bg-primary'
    }`}
    href={last}
  >
    <Icon
      name="mdi:page-last"
      class="w-5 h-5"
    />
  </a>
</div>
