---
import { getProdsLib } from '@services/products';
import FavoriteBtn from '@components/Favorite/FavoriteBtn.jsx';

interface Props {
  section?: string;
  category?: string;
}

const { section, category } = Astro.props;

const resp = await getProdsLib();
const products = resp.filter(
  (prod) => prod.category === category || prod.sections.includes(section)
);
---

<section class="max-w-[1440px] mx-auto">
  <h2 class="py-16 p-2 text-center border-4">Productos Nuevos</h2>

  <div class="px-4 lg:px-16 my-20 w-full mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        products.map((prod) => (
          <article class="relative w-full h-fit shadow mx-auto max-w-[250px] lg:max-w-none">
            <div class="w-full h-[250px] flex justify-center flex-none overflow-hidden">
              <img
                class="w-full h-full object-contain hover:scale-110 transition duration-500"
                src={prod.image}
                alt={prod.altImage}
              />
            </div>
            <div class="px-4">
              <h3 class="font-semibold min-h-[3rem]">{prod.name}</h3>
              <p class="py-4">${prod.price}</p>
            </div>
            <FavoriteBtn
              id={prod.id}
              image={prod.image}
              altImage={prod.altImage}
              name={prod.name}
              price={prod.price}
              client:load
            />
          </article>
        ))
      }
    </div>
  </div>
</section>
